In [1]:
import pandas as pd

In [2]:
import joblib

In [12]:
filename = 'finalized_model.sav'

 # some time later...
 
# load the model from disk
loaded_model = joblib.load(filename)

KeyboardInterrupt:

In [4]:
xx = pd.read_csv('trial1.csv', index_col=0)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

<ipython-input-34-aee79494e79a>:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week'] = df['Date'].dt.week

(array([23547.85190816, 42433.41728869, 41326.02201786, ...,
          880.76163095,   890.04056548,   981.6058125 ]),
 651.2)

In [20]:
xx

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
421567,421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
421568,421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
421569,421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [7]:
import numpy as np
def WMAE(dataset, real, predicted):
    weights = dataset.IsHoliday.apply(lambda x: 5 if x else 1)
    return np.round(np.sum(weights*abs(real-predicted))/(np.sum(weights)), 2)

In [13]:
def final(df,loaded_model):
    df = pd.read_csv(df, index_col=0)
    filename = 'finalized_model.sav'
    loaded_model = loaded_model
   # _____________________________
    df = df.drop(['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','Fuel_Price',"Temperature","CPI","Unemployment"],axis = 1)
    df['IsHoliday']= df['IsHoliday'].map({False:0,True:1})
    df['Type'] = df['Type'].map({'A':1,'B':2,'C':3})
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    df['year'] = df['Date'].dt.year
    df['month'] = df['Date'].dt.month
    df['week'] = df['Date'].dt.week
    dfy = df['Weekly_Sales']
    df =df.drop(['Date',"Weekly_Sales"],axis = 1)
    
    m =  loaded_model.predict(df)
    weights = df.IsHoliday.apply(lambda x: 5 if x else 1)
    j = np.round(np.sum(weights*abs(dfy-m))/(np.sum(weights)), 2)
    return m,j

In [9]:
import numpy as np

In [16]:
# Importing necessary modules
from flask import Flask, render_template, request
import pickle
import numpy as np
# Loading the Models
loaded_model = loaded_model

# Instantiate app object 
app = Flask(__name__,template_folder='Template')
# Setting up app routes
@app.route('/')
def man(): 
    return render_template('Home.html')
@app.route('/home', methods=['POST'])
def home():
    feature1 =(request.form['filename'])
    predicted_values,WMAE = final(feature1,loaded_model)
    return render_template('Home.html', prediction_text= (f'Predicted_Values : {list(predicted_values)} , WMAE_Score : {WMAE}'))
# Flask server
if __name__=="__main__":
    app.run(debug=True,use_reloader=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
INFO:werkzeug:127.0.0.1 - - [17/Dec/2021 01:08:08] "GET / HTTP/1.1" 200 -
<ipython-input-13-fe720402fd83>:12: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week'] = df['Date'].dt.week
INFO:werkzeug:127.0.0.1 - - [17/Dec/2021 01:08:25] "POST /home HTTP/1.1" 200 -